<!--
  File name: COMP229-F2022-Midterm-301101604
  Student name: Thuan An Quan
  Student ID: 301101604
  Web app name: comp229-f2022midterm-301101604.herokuapp.com
  Course: COMP229 - Section 008
  Name: Web Application Development
  Professor: Zakiyabanu Malek
  Date: October 26, 2022
-->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2022 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
